## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Atuona,PF,78.22,broken clouds,-9.8000,-139.0333,Villa Enata
1,4,Rikitea,PF,78.62,clear sky,-23.1203,-134.9692,Pension Maro'i
2,5,Mahebourg,MU,80.60,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
3,7,Vaini,TO,80.60,moderate rain,-21.2000,-175.2000,Keleti Beach Resort
4,8,Nieuw Amsterdam,SR,75.99,scattered clouds,5.8833,-55.0833,Hotel Stardust

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """ 
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

# Gunnedah, AU
vacation_start = vacation_df.loc[vacation_df["City"] == "Gunnedah"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Gunnedah"]

# Port Macquarie, AU
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Port Macquarie"]

# Nelson Bay, AU
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Nelson Bay"]

# Charlestown, AU
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Charlestown"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_plan = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(travel_plan)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,431,Gunnedah,AU,88.00,scattered clouds,-30.9833,150.2500,Gunnedah Motor Inn
1,218,Port Macquarie,AU,78.01,clear sky,-31.4333,152.9167,Rydges Port Macquarie
2,433,Nelson Bay,AU,84.99,few clouds,-32.7167,152.1500,Mantra Nelson Bay
3,369,Charlestown,AU,84.99,few clouds,-32.9500,151.6667,Panorama Motor Inn Hotel

In [27]:
# 9 Using the template add city name, the country code, and weather description for the city. 
info_box_template2 = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info2 = [info_box_template2.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations2 = itinerary_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map.
fig2 = gmaps.figure(center=(-31.0, 150.0), zoom_level=6.5)
marker_layer2 = gmaps.marker_layer(locations2, info_box_content=hotel_info2)
fig2.add_layer(marker_layer2)
# 11b. Display the figure
fig2

Figure(layout=FigureLayout(height='420px'))